@charset "utf-8";
/* CSS Document */

#calendar-view { padding-top:0px; }
#top-bar { zoom:1; z-index:4; position:relative; }
#menu .sub-menu { z-index:99; zoom:1;  }

.slider-wrapper , .slider-wrapper-full , .slider-wrapper-shade  { z-index:1; position:relative;   }

.intro_title { display:block; zoom:1; clear:left!important; }